<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>短信API接口</title>
    <link rel="stylesheet" th:href="@{/component/layui/css/layui.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/pearCommon.css}"/>
    <style>
        .layui-form-item {
            margin-bottom: 10px;
            clear: both;
        }
    </style>
</head>
<body class="pear-container">
<div class="layui-card">
    <div class="layui-card-body">
        <form action="" class="layui-form">
            <div class="layui-form-item">
                <label class="layui-form-label">名称</label>
                <div class="layui-input-inline">
                    <input class="layui-input" name="name" placeholder="" type="text">
                </div>

                <label class="layui-form-label">状态</label>
                <div class="layui-input-inline">
                    <select name="status">
                        <option value="">选择状态</option>
                        <option value="0">暂停</option>
                        <option value="1">启用</option>
                    </select>
                </div>

                <button class="pear-btn pear-btn-md pear-btn-primary" lay-filter="api-query" lay-submit>
                    <i class="layui-icon layui-icon-search"></i>
                    查询
                </button>
                <button class="pear-btn pear-btn-md" type="reset">
                    <i class="layui-icon layui-icon-refresh"></i>
                    重置
                </button>
            </div>
        </form>
    </div>
</div>
<div class="layui-card">
    <div class="layui-card-body">
        <table id="api-table" lay-filter="api-table"></table>
    </div>
</div>

<script id="api-toolbar" type="text/html">
    <button class="pear-btn pear-btn-primary pear-btn-md" lay-event="add">
        <i class="layui-icon layui-icon-add-1"></i>
        新增
    </button>
    <button class="pear-btn pear-btn-danger pear-btn-md" lay-event="batchRemove">
        <i class="layui-icon layui-icon-delete"></i>
        删除
    </button>
</script>

<script id="api-bar" type="text/html">
    <button class="pear-btn pear-btn-primary pear-btn-sm" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>
    </button>
    <button class="pear-btn pear-btn-danger pear-btn-sm" lay-event="remove"><i class="layui-icon layui-icon-delete"></i>
    </button>
    <button class="pear-btn pear-btn-success pear-btn-sm" lay-event="run"><i class="layui-icon layui-icon-play"></i>
    </button>

</script>


<!-- 添加/修改 -->
<script id="modelExpType" type="text/html">
    <form id="modelForm" lay-filter="modelForm" class="layui-form model-form" style="padding: 15px 30px 0 0;">
        <input name="id" type="hidden"/>
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">接口名称</label>
            <div class="layui-input-block">
                <input autocomplete="off" class="layui-input" lay-verify="required" name="name"
                       placeholder="接口名称"
                       type="text">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">接口地址</label>
            <div class="layui-input-block">
                <input autocomplete="off" class="layui-input" lay-verify="required|url" name="url"
                       placeholder="接口地址,手机号码采用 target_Phone 占位"
                       type="text">
                <div class="layui-word-aux">手机号码采用 target_Phone 占位</div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">请求方式</label>
            <div class="layui-input-block">
                <select name="type" lay-verify="required">
                    <option value="">选择请求方式</option>
                    <option value="0">GET</option>
                    <option value="1">POST</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">请求参数</label>
            <div class="layui-input-block">
            <textarea placeholder="手机号码采用 target_Phone 占位" autocomplete="off" class="layui-textarea" name="parm"
                      style="height: 100px;"></textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">Cookie</label>
            <div class="layui-input-block">
            <textarea autocomplete="off" class="layui-textarea" name="cookie"
                      style="height: 90px;"></textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">请求头</label>
            <div class="layui-input-block">
            <textarea autocomplete="off" class="layui-textarea" name="headers"
                      style="height: 90px;"></textarea>
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">状态</label>
            <div class="layui-input-inline">
                <input lay-filter="status" lay-skin="switch" lay-text="启用|暂停" lay-verify="required" name="status"
                       type="checkbox" checked>
            </div>
        </div>

        <div class="layui-form-item text-right">
            <button class="layui-btn layui-btn-primary" type="button" onclick="layer.closeAll()"
                    ew-event="closePageDialog">取消
            </button>
            <button class="layui-btn" lay-filter="Add_btn" lay-submit>保存</button>
        </div>
    </form>
</script>

<th:block th:include="include :: footer"/>
<script>
    layui.use(['table', 'form', 'jquery'], function () {
        let table = layui.table;
        let form = layui.form;
        let $ = layui.jquery;

        /**
         * 读取API列表
         */
        table.render({
            elem: '#api-table',
            url: getRootPath() + "/admin/api-interface/list",
            page: true,
            cols: [
                [
                    {type: 'checkbox'},
                    {title: 'id', field: 'ID', hide: true},
                    {title: '名称', field: 'name', width: 150},
                    {title: 'API地址', field: 'url'},
                    {
                        title: '请求类型', field: 'type', align: 'center', width: 100, templet: function (d) {
                            if (d.status == 0) {
                                return 'GET'
                            } else {
                                return 'POST'
                            }
                        }
                    },
                    {title: 'Cookie', field: 'cookie'},
                    {
                        title: '状态', field: 'status', align: 'center', width: 80, templet: function (d) {
                            if (d.status == 1) {
                                return '<span class="layui-badge layui-bg-green">启用</span>'
                            } else {
                                return '<span class="layui-badge layui-bg-orange">暂停</span>'
                            }
                        }
                    },
                    {title: '请求参数', field: 'parm'},
                    {title: '请求头', field: 'headers'},
                    {title: '操作', toolbar: '#api-bar', align: 'center', width: 160}
                ]
            ],
            skin: 'line',
            toolbar: '#api-toolbar',
            defaultToolbar: [{
                layEvent: 'refresh',
                icon: 'layui-icon-refresh',
            }, 'filter', 'print', 'exports']
        });

        /**
         * API操作
         */
        table.on('tool(api-table)', function (obj) {
            if (obj.event === 'remove') {
                layer.confirm('确定要删除数据吗？', {icon: 3, title: '提示'}, function (index) {
                    layer.close(index);
                    let loading = layer.load();
                    $.ajax({
                        url: getRootPath() + "/admin/api-interface/delete",
                        dataType: 'json',
                        type: 'post',
                        data: {
                            id: obj.data['id']
                        },
                        success: function (result) {
                            layer.close(loading);
                            if (result.code == 0) {
                                layer.msg(result.msg, {icon: 1});
                                obj.del();
                            } else {
                                layer.msg(result.msg, {icon: 2});
                            }
                        }
                    })
                });
            } else if (obj.event === 'edit') {
                showModel(obj.data);
            } else if (obj.event === 'run') {
                layer.confirm('确定要运行测试接口吗？', {icon: 3, title: '提示'}, function (index) {
                    layer.close(index);
                    let loading = layer.load();
                    $.ajax({
                        url: getRootPath() + "/admin/api-interface/run",
                        dataType: 'json',
                        type: 'post',
                        data: {
                            id: obj.data['id']
                        },
                        success: function (result) {
                            layer.close(loading);
                            if (result.code == 0) {
                                layer.msg(result.msg, {icon: 1});
                            } else {
                                layer.msg(result.msg, {icon: 2});
                            }
                        }
                    })
                });

            }
        });


        table.on('toolbar(api-table)', function (obj) {
            if (obj.event === 'add') {
                showModel();
            } else if (obj.event === 'refresh') {
                table.reload('api-table');
            } else if (obj.event === 'batchRemove') {
                let data = table.checkStatus(obj.config.id).data;
                if (data.length === 0) {
                    layer.msg("未选中数据", {icon: 3});
                    return false;
                }
                let ids = "";
                for (let i = 0; i < data.length; i++) {
                    ids += data[i].id + ",";
                }
                ids = ids.substr(0, ids.length - 1);
                layer.confirm('确定要删除这些数据吗？', {icon: 3, title: '提示'}, function (index) {
                    layer.close(index);
                    let loading = layer.load();
                    $.ajax({
                        url: getRootPath() + "/admin/api-interface/batchDelete",
                        dataType: 'json',
                        type: 'post',
                        data: {
                            ids: ids
                        },
                        success: function (result) {
                            layer.close(loading);
                            if (result.code == 0) {
                                layer.msg(result.msg, {icon: 1});
                                table.reload('api-table');
                            } else {
                                layer.msg(result.msg, {icon: 2});
                            }
                        }
                    })
                });
            }
        });

        /**
         * 弹窗
         * @param mData 只有修改的时候才要
         */
        function showModel(mData) {
            layer.open({
                type: 1,
                title: mData ? '修改' : '添加',
                area: ['680px', '645px'],
                content: $('#modelExpType').html(),
                success: function (layero, dIndex) {
                    form.val('modelForm', mData);
                    form.on('submit(Add_btn)', function (data) {
                        //状态
                        data.field.status = (data.field.status && data.field.status === "on") ? 1 : 0;
                        //提交 Ajax 成功后，关闭当前弹层并重载表格
                        layer.load(2);
                        $.ajax({
                            type: "POST",
                            url: getRootPath() + '/admin/api-interface/saveOrUpdate',
                            data: data.field,
                            dataType: "json",
                            success: function (data) {
                                layer.closeAll('loading');
                                if (data.code === 0) {
                                    layer.msg(data.msg);
                                    layer.close(dIndex);
                                    table.reload("api-table");
                                } else {
                                    layer.msg(data.msg);
                                }
                            },
                            error: function () {
                                layer.msg("服务器出错啦！！");
                            }
                        });
                        return false;
                    });
                }
            });
        }

        /**
         * 点击搜索
         */
        form.on('submit(api-query)', function (data) {
            table.reload('api-table', {where: data.field});
            return false;
        });

        /**
         * 修改状态
         */
        form.on('switch(api-status)', function (obj) {
            layer.tips(this.value + ' ' + this.name + '：' + obj.elem.checked, obj.othis);
        });

    })
</script>
</body>
</html>
